:root {
    --primary-color: #ffffff;
    --secondary-color: #0904465d;
    --secondary-dark: #fdfdff;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor-app {
    height: 100vh;

}

header {
    background-color: var(--primary-color);
    color: white;
    padding: 12px;
    border: 1px solid #c3c3c300;
}

.logo-nav {
    height: 40px;
    width: 40px;
    margin-right: 10px;
    object-fit: contain;
    cursor: pointer;
}

.text-heading{
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: 600;
    font-size: 20px;
    margin-right: 10px;
}

.barra-navegacion {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
    color: black;
}

#btnLimpiarRuta{
    
    cursor: pointer;
    border: 1px solid #c3c3c3;
    border-radius: 20px;
    color: black;
}

#ingresarDatos {
    flex-grow: 1;
    padding: 8px 12px;
    border: 1px solid #c3c3c3;
    border-radius: 8px;

}

.btn {
    padding: 8px 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;

}

.btn-primario {
    background-color: var(--secondary-color);
}

.btn-primario:hover {
    background-color: var(--secondary-dark);

}

.visualizacion-distancia {
    color: black;
    padding: 8px 15px;
    font-size: 14px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid #c3c3c3;
}

.btn-borde {
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

.btn-borde:hover {
    background-color: white;
    color: black;

}

.contenido {
    width: 100%;
    height: 100%;
    ;
    display: flex;
}

#btn-menu-hamburguesa {
    display: none;
}

#filtro-categorias {
    margin: 12px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #1f1e1385;
}

sidebar {
    background-color: white;
    z-index: 1;
    height: 100%;
    border:1px solid #c3c3c3;
}

.text-sidebar{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin: 6px;
}

.contenedor-filtro-categorias {
    margin: 12px;
    border-bottom: 1px solid #68666685;
}

.encabezado-leyenda H3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin: 6px;
    padding: 13px;
}

.item-leyenda {
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    margin: 5px;
}

.color-leyenda {
    width: 12px;
    height: 12px;
    margin: 8px;
    border-radius: 50%;
    border: 1px solid rgb(85, 84, 84);
}

.contenedor-mapa{
    flex:1;
}

.btn-favoritos{
    position:absolute;
    z-index:1;
    width: 40px;
    height:40px;
    top:70px;
    right:10px;
    background-color:white;
    border-radius: 50%;
    padding: 6px;
    border: none;
    cursor: pointer;

}



#map {
    width: 100%;
    height: 100%;
    ;
}

.lista-favoritos{
    position:absolute;
    top:120px;
    right:15px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    border:1px solid#c3c3c3;
}

@media (max-width: 550px) {

    sidebar {
        position: absolute;
        transform: translateX(-100%);

    }

    sidebar.activo {
        transform: translateX(0)
    }


    #btn-menu-hamburguesa {
        background-color: white;
        color: gray;
        width: 40px;
        height: 40px;
        display: block;
        border-radius: 50%;
        cursor: pointer;
        padding: 8px;
        border: none;
        position: absolute;
        top: 180px;
        left: 15px;
        z-index: 2;

    }

    .visualizacion-distancia {
        width: 100%;
        text-align: center;
        margin: 10px 0;
    }

    .btn-borde {
        width: 100%;
    }

    .btn-favoritos{

        top:180px;   

    }

    .lista-favoritos{
        top:230px
    }
}